@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

// import bootstrap
@import '../node_modules/bootstrap/scss/bootstrap';

.your-attorneys__bio,
.your-attorneys__position {
  max-width: 1440px;
  margin: 0 auto;
}

.your-attorneys__small-bio {
  margin-top: 47px;
  margin-left: 43px;
}

.your-attorneys__primary-heading {
  font-size: 40px;
  font-family: Montseratt;
  color: #4e0003;
}

.your-attorneys__description {
  color: #707070;
}

.your-attorneys__attorney-photo {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.david-b {
  height: 453px;
  width: 100%;
  object-fit: cover;
}

.your-attorneys__position-heading {
  text-align: center;
  font-size: 40px;
  color: #4e0003;
  margin-top: 160px;
}

.your-attorneys__circle-photo {
  position: relative;
  margin: 0 auto;
  max-width: 780px;
  margin-top: 140px;
}

.your-attorneys__circle {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.your-attorneys__circle-heading {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  font-family: Montseratt;
  position: absolute;
  color: #4e0003;
  max-width: 290px;
  top: 260px;
  left: 244px;
  @media (max-width: 992px) {
    display: none;
  }
}

.your-attorneys__circle-arrow {
  display: none;
  @media (max-width: 992px) {
    display: block;
    position: absolute;
    top: 11%;
    left: 46%;
  }
  @media (max-width: 768px) {
    top: 8%;
    left: 45%;
  }
  @media (max-width: 488px) {
    top: 6%;
  }
  @media (max-width: 400px) {
    top: 5%;
    left: 44%;
  }
}

.your-attorneys__position-one {
  max-width: 300px;
  position: absolute;
  top: 0;
  left: -333px;
  @media (max-width: 1470px) {
    position: static;
    max-width: 1440px;
  }
}

.your-attorneys__position-two {
  max-width: 290px;
  position: absolute;
  top: 0;
  right: -350px;
  margin-top: 150px;
  @media (max-width: 1470px) {
    position: static;
    max-width: 1440px;
  }
}

.your-attorneys__position-three {
  max-width: 375px;
  position: absolute;
  bottom: -325px;
  right: -319px;
  @media (max-width: 1470px) {
    position: static;
    max-width: 1440px;
  }
}
.your-attorneys__position-four {
  max-width: 600px;
  position: absolute;
  bottom: -330px;
  left: -170px;
  @media (max-width: 1470px) {
    position: static;
    max-width: 1440px;
  }
}

.your-attorneys__number-one {
  margin-bottom: 56px;
  @media (max-width: 1470px) {
    margin-bottom: 40px;
  }
}

.your-attorneys__first-heading {
  text-transform: uppercase;
  font-size: 30px;
  color: #707070;
  margin-bottom: 22px;
  font-family: Montseratt;
  font-weight: 700;
}

.your-attorneys__first-desc {
  color: #707070;
  font-size: 20px;
  font-family: Montseratt;
}

.your-attorneys__symbol-box {
  display: flex;
  align-items: center;
}

.your-attorneys__number-two {
  position: absolute;
  top: -240px;
  left: -125px;
  margin-left: 0;
  margin-top: 0;
  @media (max-width: 1470px) {
    position: static;
    margin-bottom: 40px;
  }
}

.your-attorneys__first-symbol,
.your-attorneys__second-symbol,
.your-attorneys__tertiary-symbol,
.your-attorneys__fourth-symbol {
  display: none;
  @media (max-width: 1470px) {
    display: block;
  }
}

.your-attorneys__second-heading {
  text-transform: uppercase;
  font-size: 30px;
  color: #4e0003;
  margin-bottom: 22px;
  font-family: Montseratt;
  font-weight: 700;
}

.your-attorneys__second-desc {
  color: #707070;
  font-size: 20px;
  font-family: Montseratt;
}
.your-attorneys__number-three {
  position: absolute;
  top: 60px;
  left: -170px;
  margin-left: 0;
  margin-top: 0;
  @media (max-width: 1470px) {
    position: static;
    margin-bottom: 40px;
  }
}

.your-attorneys__tertiary-heading {
  text-transform: uppercase;
  font-size: 30px;
  color: #707070;
  margin-bottom: 22px;
  font-family: Montseratt;
  font-weight: 700;
}

.your-attorneys__tertiary-desc {
  color: #707070;
  font-size: 20px;
  font-family: Montseratt;
}
.your-attorneys__number-four {
  position: absolute;
  top: -85px;
  left: -170px;
  margin-left: 0;
  margin-top: 0;
  @media (max-width: 1470px) {
    position: static;
  }
}

.your-attorneys__fourth-heading {
  text-transform: uppercase;
  font-size: 30px;
  color: #84b403;
  margin-bottom: 22px;
  font-family: Montseratt;
  font-weight: 700;
}

.your-attorneys__fourth-desc {
  color: #707070;
  font-size: 20px;
  font-family: Montseratt;
}
