@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

// import bootstrap
@import '../node_modules/bootstrap/scss/bootstrap';

.your-attorneys__small-bio {
  margin-top: 47px;
  margin-left: 43px;
  @media (max-width: 576px) {
    margin-bottom: 55px;
  }
}

.your-attorneys__primary-heading {
  font-size: 40px;
  font-family: Montseratt;
  color: #4e0003;
}

.your-attorneys__description {
  color: #707070;
}

.your-attorneys__attorney-box {
  position: relative;
  height: 100%;
  width: 100%;
}

.your-attorneys__attorney-photo {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.your-attorneys__description-jason,
.your-attorneys__description-david,
.your-attorneys__description-michelle,
.your-attorneys__description-sean,
.your-attorneys__description-ross,
.your-attorneys__description-natalie,
.your-attorneys__description-katherine,
.your-attorneys__description-carly,
.your-attorneys__description-gregory,
.your-attorneys__description-marc,
.your-attorneys__description-danielle {
  position: absolute;
  bottom: 35px;
  left: 40px;
  z-index: 10;
  border: 1px solid #ffffff;
}
.your-attorneys__description-brendan {
  position: absolute;
  bottom: 35px;
  left: 70px;
  z-index: 10;
  border: 1px solid #ffffff;
}

.your-attorneys__description-jason {
  padding: 22px 160px 22px 40px;
}

.your-attorneys__description-david {
  padding: 22px 90px 22px 40px;
}

.your-attorneys__description-michelle {
  padding: 22px 80px 22px 40px;
}

.your-attorneys__description-sean,
.your-attorneys__description-ross,
.your-attorneys__description-natalie,
.your-attorneys__description-katherine,
.your-attorneys__description-carly,
.your-attorneys__description-gregory,
.your-attorneys__description-brendan,
.your-attorneys__description-marc,
.your-attorneys__description-danielle {
  padding: 22px 70px 22px 40px;
}

.your-attorneys__attorney-name {
  font-size: 35px;
  color: #ffffff;
  text-transform: uppercase;
  text-shadow: 0 3px 6px #000000;
  font-weight: 700;
  @media (max-width: 1400px) {
    font-size: 30px;
  }
}
.your-attorneys__attorney-position {
  font-size: 20px;
  color: #ffffff;
  text-shadow: 0 3px 6px #000000;
}

.david-b {
  height: 453px;
  width: 100%;
  object-fit: cover;
}

// SECTION FOR MOBILE VERSION

.your-attorneys__contact-firm {
  color: #4e0003;
  font-size: 16px;
}

.your-attorneys__slider-box {
  width: 290px;
  height: 290px;
}

.your-attorneys__attorney-picture {
  width: 290px;
  height: 290px;
  object-fit: cover;
}
.your-attorneys__arrow-box {
  height: 95px;
  background-color: #84b403;
  margin-top: -17px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.your-attorneys__swipe-text {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 18px;
  font-family: Montserrat;
  font-weight: 700;
}

// SECTION CIRCLE

.your-attorneys__position-heading {
  text-align: center;
  font-size: 40px;
  color: #4e0003;
  margin-top: 160px;
  @media (max-width: 992px) {
    font-size: 25px;
    margin-top: 65px;
  }
}

.your-attorneys__informations-section {
  position: relative;
  margin: 0 auto;
  max-width: 780px;
  margin-top: 140px;
  @media (max-width: 1470px) {
    margin-top: 45px;
  }
}

.your-attorneys__circle {
  position: relative;
  @media (max-width: 1470px) {
    margin-bottom: 65px;
  }
}

.your-attorneys__circle-photo {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.your-attorneys__circle-heading {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  font-family: Montseratt;
  position: absolute;
  color: #4e0003;
  max-width: 290px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @media (max-width: 992px) {
    display: none;
  }
}

.your-attorneys__circle-arrow {
  display: none;
  @media (max-width: 992px) {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.your-attorneys__position-one {
  max-width: 300px;
  position: absolute;
  top: 0;
  left: -333px;
  @media (max-width: 1470px) {
    position: static;
    max-width: 100%;
  }
  @media (max-width: 576px) {
    margin-left: 53px;
    margin-right: 33px;
  }
}

.your-attorneys__position-two {
  max-width: 290px;
  position: absolute;
  top: 0;
  right: -350px;
  margin-top: 150px;
  @media (max-width: 1470px) {
    position: static;
    max-width: 100%;
    margin-top: 58px;
  }
  @media (max-width: 576px) {
    margin: 58px 33px 58px 53px;
  }
}

.your-attorneys__position-three {
  max-width: 375px;
  position: absolute;
  bottom: -325px;
  right: -319px;
  @media (max-width: 1470px) {
    position: static;
    max-width: 100%;
  }
  @media (max-width: 576px) {
    margin-left: 53px;
    margin-right: 33px;
  }
}
.your-attorneys__position-four {
  max-width: 600px;
  position: absolute;
  bottom: -330px;
  left: -170px;
  @media (max-width: 1470px) {
    position: static;
    max-width: 100%;
  }
  @media (max-width: 576px) {
    margin-left: 53px;
    margin-right: 33px;
  }
}

.your-attorneys__symbol-box {
  display: flex;
  align-items: center;
}

.your-attorneys__first-symbol,
.your-attorneys__second-symbol,
.your-attorneys__tertiary-symbol,
.your-attorneys__fourth-symbol {
  display: none;
  @media (max-width: 1470px) {
    display: block;
  }
}

.your-attorneys__number-one {
  margin-bottom: 56px;
  @media (max-width: 1470px) {
    width: 41px;
    height: 112px;
    margin-right: 45px;
    margin-bottom: 0;
  }
}

.your-attorneys__first-heading {
  text-transform: uppercase;
  font-size: 30px;
  color: #707070;
  margin-bottom: 22px;
  font-family: Montseratt;
  font-weight: 700;
  @media (max-width: 1470px) {
    margin-top: 19px;
  }
}

.your-attorneys__first-desc {
  color: #707070;
  font-size: 20px;
  font-family: Montseratt;
}

.your-attorneys__number-two {
  position: absolute;
  top: -240px;
  left: -125px;
  margin-left: 0;
  margin-top: 0;
  @media (max-width: 1470px) {
    position: static;
    width: 79px;
    height: 116px;
    margin-right: 2px;
  }
}

.your-attorneys__second-heading {
  text-transform: uppercase;
  font-size: 30px;
  color: #4e0003;
  margin-bottom: 22px;
  font-family: Montseratt;
  font-weight: 700;
  @media (max-width: 1470px) {
    margin-top: 19px;
  }
}

.your-attorneys__second-desc {
  color: #707070;
  font-size: 20px;
  font-family: Montseratt;
  @media (max-width: 1470px) {
    margin-bottom: 50px;
  }
}
.your-attorneys__number-three {
  position: absolute;
  top: 60px;
  left: -170px;
  margin-left: 0;
  margin-top: 0;
  @media (max-width: 1470px) {
    position: static;
    margin-right: 16px;
    width: 77px;
    height: 112px;
  }
}

.your-attorneys__tertiary-heading {
  text-transform: uppercase;
  font-size: 30px;
  color: #707070;
  margin-bottom: 22px;
  font-family: Montseratt;
  font-weight: 700;
  @media (max-width: 1470px) {
    margin-top: 32px;
  }
}

.your-attorneys__tertiary-desc {
  color: #707070;
  font-size: 20px;
  font-family: Montseratt;
}
.your-attorneys__number-four {
  position: absolute;
  top: -85px;
  left: -170px;
  margin-left: 0;
  margin-top: 0;
  @media (max-width: 1470px) {
    position: static;
    margin-right: 22px;
    width: 95px;
    height: 233px;
  }
}

.your-attorneys__fourth-heading {
  text-transform: uppercase;
  font-size: 30px;
  color: #84b403;
  margin-bottom: 70px;
  font-family: Montseratt;
  font-weight: 700;
}

.your-attorneys__fourth-desc {
  color: #707070;
  font-size: 20px;
  font-family: Montseratt;
}
